<template>
  <div>
 <h2>{{title}}</h2>

   <input v-model="test" /><br />
   Вы написали: <br> {{ test }}
  </div>

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
  },
})
export default class Home extends Vue {

title = "тут будет список пользователей"
test =  ""

}
</script>
