<template>
  <div>
    <h3>Введите Ваши данные</h3>
    ФИО: <input v-model="form.fio" /><br />
    email: <input v-model="form.email" /><br />
    пароль: <input v-model="form.password" /><br />
    <button @click="register()">Регистрация</button>
    <pre>{{ response }}</pre>

    <button @click="getUsers()">Список пользователей</button>

    <br><br><br><br>

    <div class="container">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">ФИО</th>
            <th scope="col">email</th>
            <th scope="col">действие</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.id }}</td>
            <td>{{ user.fio }}</td>
            <td>{{ user.email }}</td>
            <td><button class="btn btn-outline-warning">Удалить</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";

import "bootstrap/dist/css/bootstrap.css";

@Component({})
export default class Register extends Vue {
  form = {
    fio: "Сидоренко Елизавета Михайловна",
    email: "user-best@yandex.ru",
    password: "123456",
  };
  response = "";
  users = [];

  async register() {
    const result = await axios.post(
      `${process.env.VUE_APP_SERVER_HOST}/users`,
      this.form
    );
    this.response = JSON.stringify(result.data);
  }

  async getUsers() {
    const result = await axios.get(`${process.env.VUE_APP_SERVER_HOST}/users`);
    this.users = result.data.data;
    console.log(this.users);
  }
}
</script>
